{% extends "base.html" %}
{% block content %}
<form method="post" class="signup">
    <div class="form-group">
        <label>Username</label>
        <input placeholder="Enter Username" type="text" name="username" value="{{username}}">
        {% if  errors["username"] %}
          <span class="error">This is not a valid Username</span>
        {% endif %}
    </div>
    <div class="form-group">
        <label>Password</label>
        <input placeholder="Password" type="password" name="password" value="{{password}}">

    </div>
    <div class="form-group">
        <label>Verify Password</label>
        <input placeholder="Verify Password" type="password" name="verify_password">
          {% if errors["password"] %}
            <span class="error">Passwords do not match</span>
          {% endif %}
    </div>
    <div class="form-group">
        <label>Enter Email</label>
        <input placeholder="Enter Email" type="text" name="email" value="{{email}}">
        {% if False %}
        {% endif %}
    </div>
    <button type="submit">Login</button>
</form>
{% endblock %}
